@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --main-bg-color: #dc2626;
    --navbar-width: 90%;
    --navbar-padding: 20px;
}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.navbar {
    padding: 20px 30px;
    z-index: 999;
}


.navbar ul li {
    padding: 4px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: .1s linear;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    /* Ganti dengan warna teks sesuai kebutuhan Anda */
}

.imgBox img {
    height: 500px;
    width: 500px;
}

.menuIcon {
    height: 50px;
    display: none;
}

@media (max-width: 645px) {

    /* Tambahkan gaya untuk mobile menu muncul */
    .navbar ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        display: none;
    }

    .navbar ul.show {
        display: flex;
        flex-direction: column;
    }

    .nav-menu.flex-col {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: var(--main-bg-color);
        padding: 20px;
        border-radius: 20px;
    }

    .nav-menu.flex-col li {
        text-align: center;
        padding: 10px;
        margin: 5px 0px;
    }

    .nav-menu.flex-col a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
    }

    .nav-menu.flex-col.show {
        display: flex;
        flex-direction: column;
    }
}



.navbar {
    transition: background-color 0.5s;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}


.animate-opacity-0 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.animate-opacity-1 {
    opacity: 1;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

